<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio 2</title>

    <!-- Versão de desenvolvimento -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <style>
        .caixas{
            display: flex;
            justify-content: left;
            margin:20px;
        }
        .demo{
            width: 100px;
            height: 100px;
            background-color: gray;
            margin: 20px;
        }
        .c1{
            background-color: red;
        }
        .c2{
            background-color: blue;
        }
        .c3{
            background-color: green;
        }
    </style>
</head>
<body>

    <div id="app">
        <div class="caixas">
            <!-- <div class="demo" v-bind:class="classeCSS"></div> -->
            <div class="demo" v-bind:class="{c1: aplicarC1}" v-on:click="aplicarC1 = !aplicarC1"></div>
        </div>

        <!-- Varias classes -->
        <div class="caixas">
            <div class="demo" v-bind:class="{c2: aplicarC2, c3:!aplicarC2}"
                                        v-on:click="aplicarC2 = !aplicarC2"></div>
        </div>

        <!-- Com dado computado -->
        <div class="caixas">
            <div class="demo" v-bind:class="estilo"
                            v-on:click="aplicarC2 = !aplicarC2"></div>
        </div>

        <!-- Ex2: através de v-model -->
        <div class="caixas">
            <div class="demo" v-bind:class="classeCSS"></div>
        </div>
        <input type="text" v-model:value="classeCSS">

        <!-- Ex3: atualizando atributo style -->
        <div class="caixas">
            <div class="demo" v-bind:style="[{'background-color': cor}, {height:altura}]"></div>
            <div class="demo" v-bind:style="estilo2"></div>
        </div>

    </div>



    <!-- Exercício: criar um formulário que por padrão aparece campos para cadastro de pessoa física. 
         Mas se o usuário selecionar um checkbox marcando que é pessoa jurídica, os campos que devem 
         ser apresentados são de pessoa jurídica. -->
    <!-- <div id="app">
        <div v-if="flag">
            <h1>Cadastro PJ</h1>
            Nome:<input type="text">
            CNPJ:<input type="text">
            <button>Cadastrar</button>
        </div>
        <div v-else>
            <h1>Cadastro PF</h1>
            Nome:<input type="text">
            CPF:<input type="text">
            <button>Cadastrar</button>
        </div>
        Pessoa jurídica: <input type="checkbox" v-model="flag">
    </div> -->

    <script src="aula05_26.js"></script>
</body>
</html>