.vertical{
    background-color: cadetblue;
 
}
.row{
    border: 5px solid purple;
    height: 200px;
    padding: 10px;
    margin: 0px;
}
.col-6, .col-3, .col-2, .col-4{
    border: 2px solid red;
    height: 50px;
}

/*Alterando a estrutura*/
.btn{
    font-family: Courier;
    padding: 2px;
}

/*Alterando cores*/
.btn-primary{
    background-color: yellow;
}
    
    